html,
body,
.container,
#viewDiv {
  height: 92vh;
  width: 100%;
  margin: 0;
  padding: 0;
  margin: 0;
}

#helpDiv {
  padding: 15px;
}

.esri-legend__layer-caption {
  display: none !important;
}
